<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

   <appender name="FILE" class="org.apache.log4j.FileAppender">
      <param name="File" value="D:\\home\\Eclipse\\mfps_workspace\\mfps\\log\\development.log" />
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d %-5p %c - %m [%t] (%F:%L)%n"/>
      </layout>
   </appender>

   <appender name="SQL-FILE" class="org.apache.log4j.FileAppender">
      <param name="File" value="D:\\home\\Eclipse\\mfps_workspace\\mfps\\log\\development_sql.log" />
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d %-5p %c - %m [%t] (%F:%L)%n"/>
      </layout>
   </appender>

   <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
       <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern"
                value="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
       </layout>
    </appender>

	<logger name="jp.co.drecom">
		<level value="debug" />
    	<appender-ref ref="FILE"/>
  	</logger>

	<logger name="java.sql.PreparedStatement">
		<level value="debug" />
    	<appender-ref ref="SQL-FILE"/>
  	</logger>

   <!-- <root>
      <level value="debug" />
      <appender-ref ref="STDOUT" />
   </root> -->

</log4j:configuration>